:root {
    --box-shadow:rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
html {
    margin: 0;
}
body {
    background-color: rgba(0, 0, 0, 0.01);
    margin: 0;
}
body > section {
    display: flex;
    flex-direction: column;
}

#top-nav {
    max-height: 20vh;
    min-height: 50px;
    border-radius: 1%;
    margin: 0.5rem;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
}

#count {
    box-shadow: var(--box-shadow);
    border-radius: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    left: 1rem;
    background: white;
    width: fit-content;
    height: fit-content;
}

#count > input {
    border-radius: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    border: none;
}

#arrow {
    display: none;
    position: absolute;
    left: 32vw;
    font-size: 4rem;
    color: #d47fff;
}

#shuffle-btn {
    margin: 5px;
    border-radius: 50px;
    border: none;
    background-color: #d47fff;
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 90px;
    min-height: 50px;
    width: 10vw;
    box-shadow: var(--box-shadow);
}

#shuffle-btn:hover {
    opacity: 90%;
    transform: translateY(-2px);
}

#deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#card {
    border-radius: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    aspect-ratio: 1/1.5;
    margin: 1rem;
    box-shadow: var(--box-shadow);
}

#card:hover {
    cursor: grab; 
    transform: translateY(-5px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > a:link, footer > a:visited {
    text-decoration: none;
    color: black;
}

footer > a > div {
    opacity: 95%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: var(--box-shadow);
}

footer> a >div:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.113); 
    animation: rotate 1s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(359deg);
    }
}